body{
  background-image: url("/todo.jpg");
  
}

input[type="submit"]{
  background-color:green;
  padding:0px 20px 0px 20px;
  
}

button{
  background-color: red;
}
h2{
  color:crimson;
}
.card-body{
  padding:0px 5% 0px 40%;
}

.del{
  margin-right:10pc;
}
