<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background: green;
            }
            h1{
                color:black;
            }
        </style>
    </head>
    <body>
        <%- include('partial/nav.ejs') %>
        <h1>Contact Us</h1>
        <p>contact support team for more information</p>
    </body>
</html>