<!DOCTYPE html>
<html>
    <head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    
    </head>
<body>
    <%- include('partial/nav.ejs') %>
    <h1>Welcome to RGUKT</h1>
    <p>visit www.rgukt.in for more details..</p>
</body>
</html>